// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.claimed a, li.claimed a:link, li.claimed a:visited {
  font-size: 80%;
  color: #cccccc;
}

li.claimed a:hover {
  font-weight: bolder;
  color: red;
}

.content
{
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(138, 153, 228, 0.13);
}

.float-right {
  float: right;
}

.panel-footer p { padding-left: 5%; }