<div class="jumbotron">
  <h1><%= @site.title %></h1>
      <p>You can have control over this piece of the Web!</p>
  <p>This is a not-for-profit service.  It is <strong>not our intention to make money</strong> as a result of this service.<br />For that reason, we reserve the right to be a bit discriminating in who gains access to the capability offered here.</p>
  <p>If you are interested in <%= @site.title %>, simply complete the short survey stating your intentions.</p>
  <p><a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/1QC8fO35IqOOsglzCMDBdmQ35LVSg7sjgLWiSGl_BAaM/viewform?entry_1046450968=<%= @site.name %>&entry_1331366501=<%= @site.title %>:%20" role="button">Register Now</a><br />
    <br />A <strong>real human being</strong> will evaluate your response and contact you using the email address you provide.</p>
</div>